<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>13ECE1E9-C010-4EF5-8579-8AA74F277BF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3C2C7093-B4AE-4F06-B6D7-FAC4C5156E30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>592F75F1-5FD8-46B4-A654-57077103E505</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>60BEC012-D8A0-4DDE-AA6E-3FCE707A26E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72D42D61-AE44-4A49-967D-ADB590BD2F38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>68517F8E-6BE3-4A8D-B37B-8B7462B29B30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>72D42D61-AE44-4A49-967D-ADB590BD2F38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7FF9FE1F-119B-4646-9BAC-41D1F354789C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68517F8E-6BE3-4A8D-B37B-8B7462B29B30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A755FFA8-D415-4478-9723-EC5251E54BC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13ECE1E9-C010-4EF5-8579-8AA74F277BF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C3FCAE08-6E38-4B15-940C-6B2674201958</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D26C6028-ECF3-4AB5-B010-BB9B38F51A33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3FCAE08-6E38-4B15-940C-6B2674201958</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1F46243-B721-4B93-8A93-DAA5B2A269D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C2C7093-B4AE-4F06-B6D7-FAC4C5156E30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F0C01742-67C4-46FD-AE53-889FE095AC80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>592F75F1-5FD8-46B4-A654-57077103E505</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Start projects and list, edit or create recipes. Type cons help to list commands.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Consular</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cons list</string>
				<key>subtext</key>
				<string>Get project list</string>
				<key>text</key>
				<string>Consular</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F0C01742-67C4-46FD-AE53-889FE095AC80</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>require 'consular'
list()</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>592F75F1-5FD8-46B4-A654-57077103E505</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>require 'consular'
edit("{query}")</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3C2C7093-B4AE-4F06-B6D7-FAC4C5156E30</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cons edit</string>
				<key>runningsubtext</key>
				<string>Fetching projects...</string>
				<key>script</key>
				<string>require 'consular'

string = '&lt;?xml version="1.0"?&gt;&lt;items&gt;'
list = get_list(false)
list.each do |item|
if item.match('^' + "{query}")

string += '&lt;item uid="'
string += item
string += '" arg="'
string += item
string += '" valid="yes" autocomplete="'
string += item
string += '"&gt;&lt;title&gt;'
string += item
string += '&lt;/title&gt;'
string += '&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;'

end
end

string += '&lt;/items&gt;'

puts string
</string>
				<key>subtext</key>
				<string>Edit consular recipe</string>
				<key>title</key>
				<string>Consular</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E1F46243-B721-4B93-8A93-DAA5B2A269D8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>require 'consular'
start("{query}")</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72D42D61-AE44-4A49-967D-ADB590BD2F38</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cons start</string>
				<key>runningsubtext</key>
				<string>Fetching projects...</string>
				<key>script</key>
				<string>require 'consular'

string = '&lt;?xml version="1.0"?&gt;&lt;items&gt;'
list = get_list(false)
list.each do |item|
if item.match('^' + "{query}")

string += '&lt;item uid="'
string += item
string += '" arg="'
string += item
string += '" valid="yes" autocomplete="'
string += item
string += '"&gt;&lt;title&gt;'
string += item
string += '&lt;/title&gt;'
string += '&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;'

end
end

string += '&lt;/items&gt;'

puts string
</string>
				<key>subtext</key>
				<string>Start consular project</string>
				<key>title</key>
				<string>Consular</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>60BEC012-D8A0-4DDE-AA6E-3FCE707A26E6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Consular</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>require 'consular'
delete("{query}")</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3FCAE08-6E38-4B15-940C-6B2674201958</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cons delete</string>
				<key>runningsubtext</key>
				<string>Fetching projects...</string>
				<key>script</key>
				<string>require 'consular'

string = '&lt;?xml version="1.0"?&gt;&lt;items&gt;'
list = get_list(false)
list.each do |item|
if item.match('^' + "{query}")

string += '&lt;item uid="'
string += item
string += '" arg="'
string += item
string += '" valid="yes" autocomplete="'
string += item
string += '"&gt;&lt;title&gt;'
string += item
string += '&lt;/title&gt;'
string += '&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;'

end
end

string += '&lt;/items&gt;'

puts string
</string>
				<key>subtext</key>
				<string>Delete recipe</string>
				<key>title</key>
				<string>Consular</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D26C6028-ECF3-4AB5-B010-BB9B38F51A33</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>require 'consular'
create("{query}")</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68517F8E-6BE3-4A8D-B37B-8B7462B29B30</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cons create</string>
				<key>subtext</key>
				<string>Create recipe</string>
				<key>text</key>
				<string>Consular</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7FF9FE1F-119B-4646-9BAC-41D1F354789C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>require 'consular'

help()</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13ECE1E9-C010-4EF5-8579-8AA74F277BF4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cons help</string>
				<key>subtext</key>
				<string>Help</string>
				<key>text</key>
				<string>Consular</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A755FFA8-D415-4478-9723-EC5251E54BC5</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>13ECE1E9-C010-4EF5-8579-8AA74F277BF4</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>3C2C7093-B4AE-4F06-B6D7-FAC4C5156E30</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>592F75F1-5FD8-46B4-A654-57077103E505</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>60BEC012-D8A0-4DDE-AA6E-3FCE707A26E6</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>68517F8E-6BE3-4A8D-B37B-8B7462B29B30</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>72D42D61-AE44-4A49-967D-ADB590BD2F38</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>79A7867B-9A2B-49E0-A859-3060B688B478</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>7FF9FE1F-119B-4646-9BAC-41D1F354789C</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>A755FFA8-D415-4478-9723-EC5251E54BC5</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>C3FCAE08-6E38-4B15-940C-6B2674201958</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>D26C6028-ECF3-4AB5-B010-BB9B38F51A33</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>E1F46243-B721-4B93-8A93-DAA5B2A269D8</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>F0C01742-67C4-46FD-AE53-889FE095AC80</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
