<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>3C2C7093-B4AE-4F06-B6D7-FAC4C5156E30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>592F75F1-5FD8-46B4-A654-57077103E505</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>60BEC012-D8A0-4DDE-AA6E-3FCE707A26E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72D42D61-AE44-4A49-967D-ADB590BD2F38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>68517F8E-6BE3-4A8D-B37B-8B7462B29B30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>72D42D61-AE44-4A49-967D-ADB590BD2F38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7FF9FE1F-119B-4646-9BAC-41D1F354789C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68517F8E-6BE3-4A8D-B37B-8B7462B29B30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C3FCAE08-6E38-4B15-940C-6B2674201958</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D26C6028-ECF3-4AB5-B010-BB9B38F51A33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3FCAE08-6E38-4B15-940C-6B2674201958</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1F46243-B721-4B93-8A93-DAA5B2A269D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C2C7093-B4AE-4F06-B6D7-FAC4C5156E30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F0C01742-67C4-46FD-AE53-889FE095AC80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>592F75F1-5FD8-46B4-A654-57077103E505</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Start projects and list, edit or create recipes.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Consular</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby start.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72D42D61-AE44-4A49-967D-ADB590BD2F38</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cons start</string>
				<key>runningsubtext</key>
				<string>Fetching projects...</string>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby menu.rb "{query}"</string>
				<key>subtext</key>
				<string>Start a consular project.</string>
				<key>title</key>
				<string>Cons start</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>60BEC012-D8A0-4DDE-AA6E-3FCE707A26E6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby create.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68517F8E-6BE3-4A8D-B37B-8B7462B29B30</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cons create</string>
				<key>subtext</key>
				<string>Create new consular recipe.</string>
				<key>text</key>
				<string>Cons create</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7FF9FE1F-119B-4646-9BAC-41D1F354789C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cons edit</string>
				<key>runningsubtext</key>
				<string>Fetching projects...</string>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby menu.rb "{query}"</string>
				<key>subtext</key>
				<string>Edit a consular recipe.</string>
				<key>title</key>
				<string>Cons edit</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E1F46243-B721-4B93-8A93-DAA5B2A269D8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby edit.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3C2C7093-B4AE-4F06-B6D7-FAC4C5156E30</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Consular</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>79A7867B-9A2B-49E0-A859-3060B688B478</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cons delete</string>
				<key>runningsubtext</key>
				<string>Fetching projects...</string>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby menu.rb "{query}"</string>
				<key>subtext</key>
				<string>Delete consular recipe.</string>
				<key>title</key>
				<string>Cons delete</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D26C6028-ECF3-4AB5-B010-BB9B38F51A33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby delete.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3FCAE08-6E38-4B15-940C-6B2674201958</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cons list</string>
				<key>subtext</key>
				<string>Updates project list and copies it to clipboard.</string>
				<key>text</key>
				<string>Cons list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F0C01742-67C4-46FD-AE53-889FE095AC80</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby list.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>592F75F1-5FD8-46B4-A654-57077103E505</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3C2C7093-B4AE-4F06-B6D7-FAC4C5156E30</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>592F75F1-5FD8-46B4-A654-57077103E505</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>60BEC012-D8A0-4DDE-AA6E-3FCE707A26E6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>68517F8E-6BE3-4A8D-B37B-8B7462B29B30</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>72D42D61-AE44-4A49-967D-ADB590BD2F38</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>79A7867B-9A2B-49E0-A859-3060B688B478</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>7FF9FE1F-119B-4646-9BAC-41D1F354789C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C3FCAE08-6E38-4B15-940C-6B2674201958</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>D26C6028-ECF3-4AB5-B010-BB9B38F51A33</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>E1F46243-B721-4B93-8A93-DAA5B2A269D8</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F0C01742-67C4-46FD-AE53-889FE095AC80</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jukka-pekka-louneva/alfred-consular</string>
</dict>
</plist>
